* {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    height: 70px;
    font-size: 32px;
    font-weight: 700;
    color: white;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
}

#generate-btn {
    border: 2px solid #F9FAF8;
    border-radius: 8px;
    background-color: #3882F6;
    font-size: 24px;
    color: white;
    padding: 20px;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
}

.grid-container>div {
    height: 10px;
    width: 10px;
    background-color: #3882F6;
}

.grid-container>div:hover {
    background-color: white;
}